
<td class="aligne"><img src="{{cover}}" alt="cover du livre" class="image"></td>
<td class="aligne"> {{author}} </td>
<td class="aligne"> {{title}} </td>
<td class="aligne"> {{status}} </td>
<td class="aligne">
    <button
    type="button"
    class="btn btn-dark m-2"
    (click)="onClickSwitchBookStatus(nextStatus)"
    >Basculer en {{ nextStatus }}</button>

    <a class="text-white text-decoration-none btn btn-success m-2"
        [routerLink]="detailsUrl">
        Détails
    </a>

    <a class="text-white text-decoration-none btn btn-success m-2"
        [routerLink]="editUrl">
        Modifier
    </a>


</td>
